        <button class="register btn btn-primary text-uppercase" data-id="{{id}}" data-register="{{registered}}">
            {{#if registered}}Unenroll{{else}}Register{{/if}}
        </button>
    </div>
</div>
