<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-text">Copyright &copy; 2018 Volunteer Philly - Developed by Paula MacTavish &amp; Dirk Wiggins</div>
            </div>
        </div>
    </div>
</div>