
{{#with settingData}} {{> nav}} {{/with}}
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in" style="background-color:#fed136;padding: 8px;border-radius: 8px;margin-top: 10px;">Matching
        <strong>volunteers</strong> with the
        <strong>organizations</strong> that need them.
      </div>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" data-toggle="modal" data-target="#loginModal"
        style="margin-bottom: -100px">Log In</button>
    </div>
  </div>
</header>

<section class="bg-light" id="portfolio">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase" style="font-size:30px">Volunteer Opportunities</h3>
    </div>
  </div>
  <div class="container">
        <div class="row">
            {{#each opportunityData.opportunities}}
                {{> opportunity}} {{> button-unauth}}
            {{/each}}
        </div>
  </div>
</section>

<!-- signin modal -->
{{> signin}}

<!-- new member modal -->
{{#with formData}} {{> member}} {{/with}}

<!-- site footer -->
{{> footer}}